 @import models.user._
 @(profile: Profile)
         <script type="text/javascript">
            $(document).ready(function () {

                $("#allagi").bind("click", (function () {

                    $("#ProswpikaStoixeia").trigger("click");

                }));

            });
        </script>
<!--  panel 3 -  Οι συστάσεις μου  -->
 <div class="row">
     <div class="col-lg-12">

         <div class="box">

             <!-- PanelHeading -->
             <div class="box-header" style="background-color: #28993c; border-color: #248936; color: white;">
                 <h2>
                     <i class="fa fa-bullseye" style="color: white;"></i>
                     <span class="break" style="color: white;"></span>
                     Οι συστάσεις μου
                 </h2>
                 <div class="box-icon">
                     <a href="#" class="btn-minimize"><i class="fa fa-chevron-down" style="color: white;"></i></a>
                     <a href="#" class="btn-close"><i class="fa fa-times" style="color: white;"></i></a>
                 </div>
             </div>
             <!-- /PanelHeading -->

             <!-- Panel Content -->
             <div id="allagiPanel" class="box-content clearfix" style="display: none;">  
				<div id="allagi" class="btn btn-primary btn-xs" style="margin-bottom: 10px;">
				    <strong>
				        Αλλαγή Προσωπικών Στοιχείων
				    </strong>
				</div>				
             <p>                                       
<b>Η κατάσταση του βάρους σου</b> <br/>
Το βάρος σου: @profile.getWeight() kg <br/>
Το ύψος σου: @profile.getHeight() cm <br/>
Ο Δείκτης Μάζας Σώματός σου: @BigDecimal(profile.getBmi()).setScale(1, BigDecimal.RoundingMode.HALF_UP).toDouble kg/m2 <br/>
Το βάρος σου
@if(profile.getBmi() <= 18.5) {
είναι χαμηλότερο του φυσιολογικού
Εάν ανήκεις σε αυτή την κατηγορία είναι σημαντικό να επισκεφθείς τον οικογενειακό γιατρό σου για να μπορέσει να εκτιμήσει την κατάσταση της υγείας σου.
} 
@if(profile.getBmi() > 18.5 && profile.getBmi() <= 24.9) {
είναι φυσιολογικό
Μπορείς να βάλεις τη σωματική δραστηριότητα στη ζωή σου και να προσέξεις την ποιότητα της διατροφής σου για να διατηρήσεις ή/και να βελτιώσεις το βάρος σου. Ένας πτυχιούχος διαιτολόγος – διατροφολόγος μπορεί να σου φανεί χρήσιμος!  
}
@if(profile.getBmi() > 24.9 && profile.getBmi() <= 29.9) {
είναι πάνω από τα φυσιολογικά όρια (υπέρβαρο)
Δοκίμασε να επισκεφθείς έναν διαιτολόγο – διατροφολόγο για να προσέξεις τον τρόπο ζωής και το βάρος σου!   
}
@if(profile.getBmi() > 29.9 && profile.getBmi() <= 34.9) {
με βάση το ύψος σου υποδηλώνει ότι βρίσκεσαι στην κατηγορία του παχύσαρκου 
Δοκίμασε να επισκεφθείς έναν διαιτολόγο – διατροφολόγο για να προσέξεις τον τρόπο ζωής, την υγεία και το βάρος σου! 
}
@if(profile.getBmi() > 34.9 && profile.getBmi() <= 39.9) {
με βάση το ύψος σου υποδηλώνει ότι βρίσκεσαι στην κατηγορία του βαριά παχύσαρκου
Δοκίμασε να επισκεφθείς έναν διαιτολόγο – διατροφολόγο για να προσέξεις τον τρόπο ζωής, την υγεία και το βάρος σου! 
}
@if(profile.getBmi() > 39.9) {
με βάση το ύψος σου υποδηλώνει ότι βρίσκεσαι στην κατηγορία του θνησιγενούς παχύσαρκου, με αποτέλεσμα να εμφανιστούν 
Δοκίμασε να επισκεφθείς έναν διαιτολόγο – διατροφολόγο για να προσέξεις τον τρόπο ζωής, την υγεία και το βάρος σου! 
}
<br/>
</p>
<p>
<b>Ο βασικός Μεταβολισμός σου</b> <br/>
Καθημερινά πρέπει να προσλαμβάνεις: @BigDecimal(profile.getCalories()).setScale(0, BigDecimal.RoundingMode.HALF_UP).toDouble Kcal (θερμίδες) <br/>
Οι παραπάνω θερμίδες αποτελούν τις ημερήσιες ενεργειακές σου ανάγκες, δηλαδή την ενέργεια (θερμίδες) που χρειάζεται το σώμα σου για να επιτελέσει τις βασικές του λειτουργίες και τις δραστηριότητες όπως τις έχεις καταγράψει στο Επίπεδο Σωματικής Δραστηριότητας , ώστε το βάρος σου να διατηρηθεί σταθερό. 
</p>
@if(profile.getPregnancyStatus()==null) {
	
} else {
	@if(profile.getPregnancyStatus().getId() == 1) {
<p>
Βάρος: Το βάρος σου αναμένεται να παρουσιάσει πολύ μικρή άνοδο (έως 2kg), ανάλογα με το βάρος και τον ΔΜΣ σου κατά την έναρξη της εγκυμοσύνης, την ηλικία, την κατάσταση της σωματικής σου δραστηριότητας, την όρεξη και τις προτιμήσεις σου καθώς και την συνολική κατάσταση υγείας σου.
</p>
<p> 
Διατροφή: Μια ισορροπημένη διατροφή που χαρακτηρίζεται από ποικιλία τροφίμων από όλες τις ομάδες τροφίμων, μέτρο στην ποσότητα και την συχνότητα και εξασφαλίζει την επαρκή πρόσληψη όλων των απαραίτητων θρεπτικών συστατικών είναι αναγκαία. 
Δώσε ιδιαίτερη προσοχή
</p> 
<ul>
<li> στην επαρκή πρόσληψη φυλλικού οξέος, βιταμίνης C, βιταμίνης D και βιταμινών του συμπλέγματος Β </li>
<li> στην επαρκή πρόσληψη σιδήρου, ασβεστίου, ψευδαργύρου </li>
<li> στην ποσότητα κατανάλωσης καφεΐνης, αλκοόλ, την πρόσληψη υδραργύρου και διοξινών από τα τρόφιμα καθώς και την μικροβιολογική ασφάλεια των τροφίμων</li>
</ul>  
<b>Ένας διαιτολόγος – διατροφολόγος σε συνεργασία με τον γιατρό σου μπορεί να σε βοηθήσει να διαχειριστείς το βάρος σου και να σε καθοδηγήσει κατάλληλα στη διατροφή σου</b>
	}
	@if(profile.getPregnancyStatus().getId() == 2) {
	<p>
Βάρος: Το βάρος σου αναμένεται να παρουσιάσει μικρή άνοδο (έως 4kg), ανάλογα με το ρυθμό αύξησης βάρους το προηγούμενο τρίμηνο, την κατάσταση της σωματικής σου δραστηριότητας και την συνολική κατάσταση υγείας σου κατά την εγκυμοσύνη.
</p>
<p> 
Διατροφή: Μια ισορροπημένη διατροφή που χαρακτηρίζεται από ποικιλία τροφίμων από όλες τις ομάδες τροφίμων, μέτρο στην ποσότητα και την συχνότητα και εξασφαλίζει την επαρκή πρόσληψη όλων των απαραίτητων θρεπτικών συστατικών είναι αναγκαία.
</p>
Δώσε ιδιαίτερη προσοχή 
<ul>
<li>	στην επαρκή πρόσληψη φυλλικού οξέος, βιταμίνης C, βιταμίνης D και βιταμινών του συμπλέγματος Β</li>
<li>	στην επαρκή πρόσληψη σιδήρου, ασβεστίου, ψευδαργύρου </li>
<li>	στην ποσότητα κατανάλωσης καφεΐνης, αλκοόλ, την πρόσληψη υδραργύρου και διοξινών από τα τρόφιμα καθώς και την μικροβιολογική ασφάλεια των τροφίμων</li>
</ul>  
<b>Ένας διαιτολόγος – διατροφολόγος σε συνεργασία με τον γιατρό σου μπορεί να σε βοηθήσει να διαχειριστείς το βάρος σου και να σε καθοδηγήσει κατάλληλα στη διατροφή σου</b>
	}
	@if(profile.getPregnancyStatus().getId() == 3) {
<p>
Βάρος: Το βάρος σου αναμένεται να παρουσιάσει σημαντική άνοδο (έως 5kg), ανάλογα με το ρυθμό αύξησης βάρους τα προηγούμενα τρίμηνα, την κατάσταση της σωματικής σου δραστηριότητας και την συνολική κατάσταση υγείας σου κατά την εγκυμοσύνη.
</p>
<p> 
Διατροφή: Μια ισορροπημένη διατροφή που χαρακτηρίζεται από ποικιλία τροφίμων από όλες τις ομάδες τροφίμων, μέτρο στην ποσότητα και την συχνότητα και εξασφαλίζει την επαρκή πρόσληψη όλων των απαραίτητων θρεπτικών συστατικών είναι αναγκαία.
</p>
Δώσε ιδιαίτερη προσοχή
<ul> 
<li>στην επαρκή πρόσληψη φυλλικού οξέος, βιταμίνης C, βιταμίνης D και βιταμινών του συμπλέγματος Β</li>
<li>στην επαρκή πρόσληψη σιδήρου, ασβεστίου, ψευδαργύρου </li>
<li>στην ποσότητα κατανάλωσης καφεΐνης, αλκοόλ, την πρόσληψη υδραργύρου και διοξινών από τα τρόφιμα καθώς και την μικροβιολογική ασφάλεια των τροφίμων</li>
</ul>  
<b>Ένας διαιτολόγος – διατροφολόγος σε συνεργασία με τον γιατρό σου μπορεί να σε βοηθήσει να διαχειριστείς το βάρος σου και να σε καθοδηγήσει κατάλληλα στη διατροφή σου</b>
	}
	@if(profile.getPregnancyStatus().getId() == 4) {
<p>
Βάρος: Στην περίπτωση που θηλάζεις αποκλειστικά οι ενεργειακές σου ανάγκες είναι αυξημένες, γεγονός το οποίο έχει ήδη φροντίσει το σώμα σου να διαφυλάξει κατά την εγκυμοσύνη αυξάνοντας το βάρος σου (3-4 εναπομείναντα κιλά της εγκυμοσύνης).
</p>
<p>  
Διατροφή:  Μια ισορροπημένη διατροφή που χαρακτηρίζεται από ποικιλία τροφίμων από όλες τις ομάδες τροφίμων, μέτρο στην ποσότητα και την συχνότητα και εξασφαλίζει την επαρκή πρόσληψη όλων των απαραίτητων θρεπτικών συστατικών είναι αναγκαία.
</p>
Δώσε ιδιαίτερη προσοχή
<ul> 
<li>στην επαρκή πρόσληψη φυλλικού οξέος, βιταμίνης D και Α και βιταμινών του συμπλέγματος Β</li>
<li>στην επαρκή πρόσληψη σιδήρου, ασβεστίου, ιωδίου και ω-3 λιπαρών οξέων</li>
<li>στην ποσότητα κατανάλωσης καφεΐνης και αλκοόλ </li>
</ul>
<b>Ένας διαιτολόγος – διατροφολόγος σε συνεργασία με τον γιατρό σου μπορεί να σε βοηθήσει να διαχειριστείς το βάρος σου και να σε καθοδηγήσει κατάλληλα στη διατροφή σου</b>
	}	
}
<br/>
<br/>
@if(profile.getProfileConditions.size()>0) {
<p>
<b>Η υγεία και η διατροφή σου</b>
</p>
	@for(profileCondition <- profile.getProfileConditions()) {
		@if(profileCondition.getMedicalcondition().getId() == 1) {
		<b>Αναιμία</b>
		<br/>
		Η αναιμία αποτελεί μια πάθηση που προκύπτει από τα χαμηλά επίπεδα σιδήρου στον οργανισμό. Στην περίπτωση που ο γιατρός σου έχει διαγνώσει σιδηροπενική αναιμία είναι σημαντικό να προσέξεις:
		<ul> 
		<li>την επαρκή πρόσληψη σιδήρου από ζωικές πηγές σιδήρου (αιμικός σίδηρος)</li>
		<li>τους συνδυασμούς τροφίμων και τροφίμων και συμπληρωμάτων οι οποίοι εξασφαλίζουν την μέγιστη απορρόφηση σιδήρου από τον οργανισμό</li> 
		<li>τον συνδυασμό τροφίμων που εμποδίζει την απορρόφηση σιδήρου</li>
		</ul> 
		<br/>
		}
		@if(profileCondition.getMedicalcondition().getId() == 2) {	
			@if(profile.getBmi() > 18.5 && profile.getBmi() < 25) {	
			<b>Διαβήτης τύπου 2</b> 
			<br/>
			<ul>
			<li>Διατηρήστε το βάρος σας σε φυσιολογικά όρια</li>
			<li>	Εντάξτε την σωματική δραστηριότητα στην καθημερινότητά σας </li>
			<li>	Εντάξτε ποικιλία τροφίμων σε κάθε σας γεύμα με σκοπό την ομαλή απορρόφηση των υδατανθράκων</li>
			<li>	Βάλτε μέτρο στην ποσότητα των υδατανθράκων σε κάθε σας γεύμα </li>
			<li>	Μειώστε την πρόσληψη ολικού λίπους</li>
			<li>	Μειώστε την πρόσληψη κορεσμένου λίπους < 7% </li>
			<li>	Ελαχιστοποιήστε την πρόσληψη τρανς λιπαρών οξέων</li>
			<li>	Φροντίστε να προσλαμβάνετε επαρκή ποσότητα διαιτητικών ινών (14 γρ/1000 kcal)</li>
			<li>	Καταναλώστε τρόφιμα ολικής άλεσης</li>
			</ul>
			}	
			@if(profile.getBmi() >= 25) {	
			<b>Διαβήτης τύπου 2</b> 
			<br/>
			<ul>
			<li>	Μείωσε το βάρος σου κατά 7-10% του παρόντος βάρους </li>
			<li>	Εντάξτε την σωματική δραστηριότητα στην καθημερινότητά σας </li>
			<li>	Εντάξτε ποικιλία τροφίμων σε κάθε σας γεύμα με σκοπό την ομαλή απορρόφηση των υδατανθράκων</li>
			<li>	Βάλτε μέτρο στην ποσότητα των υδατανθράκων σε κάθε σας γεύμα </li>
			<li>	Μειώστε την πρόσληψη ολικού λίπους</li>
			<li>	Μειώστε την πρόσληψη κορεσμένου λίπους < 7% </li>
			<li>	Ελαχιστοποιήστε την πρόσληψη τρανς λιπαρών οξέων</li>
			<li>	Φροντίστε να προσλαμβάνετε επαρκή ποσότητα διαιτητικών ινών (14 γρ/1000 kcal)</li>
			<li>	Καταναλώστε τρόφιμα ολικής άλεσης</li>
			</ul>
			
			}
		}
		@if(profileCondition.getMedicalcondition().getId() == 3) {
		<b>Δυσκοιλιότητα</b>
		<br/>
		<ul>
<li>Εντάξτε την σωματική δραστηριότητα στην καθημερινότητά σας </li>
<li>Φροντίστε να καταναλώνετε επαρκή ποσότητα υγρών (2L γυναίκες και 2,5L άντρες)</li>
<li>Αυξήστε σταδιακά την ποσότητα των φυτικών ινών που καταναλώνετε (συνιστώμενη πρόσληψη 25gr/ ημέρα)</li>
<li>Βάλτε στην καθημερινότητά σας λαχανικά (μαρούλι, χόρτα), φρούτα (ακτινίδια, σύκα, φράουλες), αποξηραμένα φρούτα, όσπρια, λαδερά φαγητά (μπάμιες, φασολάκια) και δημητριακά ολικής άλεσης</li>
<li>Εντάξτε τα προβιοτικά τρόφιμα στη διατροφή σας (γιαούρτι, τυρί, κεφίρ, ξινόγαλο)</li>
<li>Διατηρήστε σταθερή την ώρα κένωνσης </li>
</ul>
<br/>
		}
		@if(profileCondition.getMedicalcondition().getId() == 4) {
<b>Κοιλιοκάκη</b>
<br/>
<ul> 
<li>Ακολουθήστε τις οδηγίες του γιατρού σας</li>
<li>Διαβάζετε τις ετικέτες τροφίμων αναλυτικά ώστε να αναγνωρίζετε τις κρυφές πηγές γλουτένης</li>
</ul>
<br/>		
		}
		@if(profileCondition.getMedicalcondition().getId() == 5) {
<b>Υπερουριχαιμία</b>
<br/>
<ul>
<li>Διατηρήστε ένα φυσιολογικό βάρος ή/και φροντίστε να μειώσετε το υπερβάλλον βάρος σας</li>
<li>Συζητήστε με τον γιατρό και τον διαιτολόγο σας τις συστάσεις κατανάλωσης αλκοόλ </li>
<li>Εξετάστε με τον διαιτολόγο σας τους παράγοντες της διατροφής σας π.χ. περιεκτικότητα πουρινών στα τρόφιμα και πρόσληψη πρωτεΐνης, που μπορεί να επηρεάζουν τα επίπεδα ουρικού οξέος στο αίμα σας</li>
</ul>  
<br/>		
		}
		@if(profileCondition.getMedicalcondition().getId() == 6) {
<b>Υπέρταση</b>
<br/>
Επιλέξτε μια διατροφή
<br/>
<ul>
<li>Πλούσια σε λαχανικά και φρούτα</li>
<li>Επιλέξτε γαλακτοκομικά μειωμένων λιπαρών</li> 
<li>Επιλέξτε δημητριακά πλούσια σε φυτικές ίνες (ολικής άλεσης)</li>
<li>Συμπεριλάβετε στο εβδομαδιαίο πρόγραμμά σας τους ξηρούς καρπούς και τα όσπρια</li>
<li>Μειώστε την πρόσληψη κορεσμένων λιπαρών, χοληστερόλης και ολικού λίπους</li>
<li>Μειώστε την πρόσληψη σακχάρων </li>
<li>Εντάξτε τις πρωτεΐνες φυτικής προέλευσης στο πρόγραμμά σας</li>
<li>Περιορίστε την πρόσληψη Νατρίου στα 2300mg ημερησίως </li>
<li>Διατηρήστε φυσιολογικό βάρος</li>
<li>Περιορίστε το αλκοόλ </li>
<li>Βάλτε την σωματική δραστηριότητα στην καθημερινότητά σας</li> 
</ul>
<br/>		
		}
		@if(profileCondition.getMedicalcondition().getId() == 7) {
<b>Υπερχοληστερολαιμία</b>
<br/>
Φρόντισε το εβδομαδιαίο πρόγραμμά σου να περιλαμβάνει:
<br/>
<ul>
<li>τουλάχιστον 2 μερίδες λιπαρών ψαριών (π.χ. σαρδέλα, σκουμπρί)</li>
<li>ανάλατους ξηρούς καρπούς </li>
<li>ελαιόλαδο ως βασική πηγή λιπαρών της διατροφής σου με μέτρο στην ποσότητα</li>
<li>δημητριακά και αμυλούχα ολικής άλεσης (το 50% όσων καταναλώνεις καθημερινά)</li>
<li>όσπρια</li>
<li>Φυτικές στερόλες και στανόλες </li>
</ul>
Απέφυγε: 
<br/>
<ul>
<li>Την κατανάλωση ζωικών λιπαρών (πλήρη γαλακτοκομικά και τυριά, κόκκινο κρέας και προϊόντα κρέατος, ζωικό βούτυρο)</li>
<li>Το τηγάνισμα και τα τηγανιτά</li>
<li>Τα trans λιπαρά</li>
<li>Τις μεγάλες ποσότητες λιπαρών </li>
<li>Το αλάτι και τις κρυφές πηγές αλατιού/ νατρίου όπως τυριά, τα αρτοσκευάσματα, έτοιμες σάλτσες, τουρσί και παστά τρόφιμα, κονσερβοποιημένα τρόφιμα κ.ο.κ.</li>
<li>Την καθιστική ζωή </li>
</ul>
<br/>
		
		}
	}
}
                 <br>

             </div><!-- /box-content -->

         </div><!-- /box -->

     </div>

 </div>
 <!--  /panel 3 -  /Οι συστάσεις μου  -->


</div>



<!-- - - - - - - - - - - - - - -->
<div class="ccol-lg-12" style="padding-left: 15px;display:none">
 <div class="col-lg-6">
     <span style="color:red">
         &nbsp;*
     </span>
     <em>
         Υποχρεωτικά πεδία για τη Δημιουργία Νέου Χρήστη
     </em>
 </div>
 <div class="col-lg-6">
     <div class="text-right">
         <div class ="btn btn-danger" style="margin-bottom: 10px; width: 160px;">
             <strong>
                 Ακύρωση
             </strong>
         </div>
         &nbsp;
         <div class="btn btn-primary" style="margin-bottom: 10px; width: 160px;">
                <strong>
                    Δημιουργία Προφίλ
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>
<br>

<!-- - - -  ALERTS  - - - -->
<div class="col-lg-12" style="display:none">
    <div class="text-center">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="fa fa-exclamation-triangle"></i>
            &nbsp;
            <strong>
                Προσοχή!
            </strong>
            Πρέπει να συμπληρώσετε όλα τα υποχρεωτικά πεδία.
        </div>
    </div>
</div>

<div class="col-lg-12" style="display:none">
    <div class="text-center">
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="fa fa-exclamation-triangle"></i>
            &nbsp;
            <strong>
                Προσοχή!
            </strong>
            Οι Πληροφορίες που εισάγατε είναι λανθασμένες.<br><br>
            Παρακαλείστε συμπληρώστε σωστά τα στοιχεία σας και υποβάλετε εκ νέου τη φόρμα.
        </div>
    </div>
</div>

<div class="col-lg-12" style="display:none">
    <div class="text-center">
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="fa fa-exclamation-circle"></i>
            <strong>
                Προσοχή!
            </strong>
            Είστε σίγουροι ότι θέλετε να ακυρώσετε τη διαδικασία δημιουργίας προφίλ;
            <p>&nbsp;</p>
            <div class="text-center">
                <div class="btn btn-danger" style="width:105px">
                 <strong>
                     Ακύρωση
                 </strong>
             </div>
             &nbsp;
             <div class="btn btn-primary" data-dismiss="alert" style="width:105px">
                    <strong>
                        Συνέχεια
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" style="display:none">
    <div class="text-center">
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="fa fa-thumbs-up"></i>
            <strong>
                Συγχαρητήρια!
            </strong>
            Η δημιουργία του προφίλ σας πραγματοποιήθηκε με επιτυχία.
        </div>
    </div>
</div>
<!-- - - -  / ALERTS  - - - -->

</div>