@main("ΔΙΣΥΣ - Πελάτης - Εγγραφή Χρήστη", "none", "Registration", "CUSTOMER_REGISTRATION") {

<script>
function isValidDate(day, month, year)
{

    var day = parseInt(day, 10);
    var month = parseInt(month, 10);
    var year = parseInt(year, 10);

    // Check the ranges of month and year
    if(year < 1000 || year > 3000 || month == 0 || month > 12)
        return false;

    var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

    // Adjust for leap years
    if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
        monthLength[1] = 29;

    // Check the range of the day
    return day > 0 && day <= monthLength[month - 1];
};
var inserted_user = false;
$(function() {
	$('#MyWizard').on('change', function(e, data) {
		var valid = true;
		var err_msg="";
		if (data.step===1 && data.direction==='next') {
			//validate step 1
			if ($.trim($("#UserSurname").val()) == '') {
				valid = false;
				err_msg += "Πρέπει να εισάγετε επίθετο χρήστη<br/>";
			}
			if ($.trim($("#UserFirstName").val()) == '') {
				valid = false;
				err_msg += "Πρέπει να εισάγετε όνομα χρήστη<br/>";
			}
			if ($.trim($("#Username").val()) == '') {
				valid = false;
				err_msg += "Πρέπει να εισάγετε ψευδώνυμο χρήστη<br/>";
			}						
			if ($.trim($("#email_1").val()) == '') {
				valid = false;
				err_msg += "Πρέπει να εισάγετε email χρήστη<br/>";
			}	
			var english = /^[A-Za-z0-9.@@]*$/;
			if ( ! english.test($.trim($("#email_1").val())) ) {
				valid = false;
				err_msg += "Πρέπει να εισάγετε αγγλικούς χαρακτήρες στο πεδίο email χρήστη<br/>";
			}
			if($("#email_1").val() != $("#email_2").val()) {
				valid=false;
				err_msg += "Τα email δεν ταιριάζουν<br/>";
			}
			if ($.trim($("#password1").val()) == '') {
				valid = false;
				err_msg += "Πρέπει να εισάγετε συνθηματικό<br/>";
			}	
			if($("#password1").val() != $("#password2").val()) {
				valid = false;
				err_msg += "Τα συνθηματικά δεν ταιριάζουν<br/>";
			}	
		}  else if (data.step===2 && data.direction==='next') {
			if ($("#gender").val == "none") {
				valid = false;
				err_msg += "Πρέπει να επιλέξετε φύλο<br/>";
			}
			if ($.trim($("#weight").val()) == '') {
				valid = false;
				err_msg += "Πρέπει να επιλέξετε βάρος<br/>";				
			}
			if ($.trim($("#height").val()) == '') {
				valid = false;
				err_msg += "Πρέπει να επιλέξετε ύψος<br/>";				
			}
			/*if ($.trim($("#age").val()) == '') {
				valid = false;
				err_msg += "Πρέπει να επιλέξετε ηλικία<br/>";				
			}*/		
			if (! ($.isNumeric($.trim($("#weight").val()) ) ) ) {
				valid = false;
				err_msg += "Το βάρος πρέπει να είναι αριθμός<br/>";	
			}
			if (! ($.isNumeric($.trim($("#height").val()) ) ) ) {
				valid = false;
				err_msg += "Το βάρος πρέπει να είναι αριθμός<br/>";	
			}
			if (! isValidDate( $("#day").val(), $("#month").val(), $("#year").val() ) ) { 
				valid = false;
				err_msg += "Εισάγατε λάθος ημερομηνία";
			}
			/*if (! ($.isNumeric($.trim($("#age").val()) ) ) ) {
				valid = false;
				err_msg += "Η ηλικία πρέπει να είναι αριθμός<br/>";	
			}	*/		
		}  else if (data.step===3 && data.direction==='next') {

		} 
		if (!valid) {
			bootbox.alert(err_msg);
		}
		return valid;
	});
	$('#MyWizard').on('finished', function(e, data) {
		if (!inserted_user) {
			$.ajax({
				type: 'POST',
				url: "@routes.Registration.insertCustomer()",
				data: jQuery("#insertCustomerForm").serialize(),
				datatype: 'json',
				success: function() {
					window.location.href = "@routes.Customer.customerWelcomeScreen()";
					//document.getElementById("insertion_success_div").setAttribute("style", "");
					//location.reload();
					//alert("ok");
					//postBackInsert = 1;
				},
				error: function() {
					bootbox.alert("Κάτι δεν πήγε καλά κατά την εγγραφή. Παρακαλώ επικοινωνήστε με το διαχειριστή συστήματος");
				}				
			});
			inserted_user = true;
		}		
		
	});	
});
</script>

                <div id="content" class="col-sm-12 full">

                    <ol class="breadcrumb"><!-- 2nd horizontal bar - grey -->
                        <li>
                            <a href="#">
                                &nbsp;ΔΙΣΥΣ
                            </a>
                        </li>
                        <li class="active" >
                            Εγγραφή Χρήστη
                        </li>                    
                    </ol>

                    <!-- panel Εγγραφή -->
                    <div class="row">
                        <div class="col-lg-12">


                            <div class="box">

                                <!-- PanelHeading -->
                                <div class="box-header" style="background-color: #28993c; border-color: #248936;">
                                    <h2 style="color: white;">
                                        <i class="fa fa-user" style="color: white;"></i>
                                        <span class="break"></span>
                                        Εγγραφή στο Σύστημα
                                    </h2>
                                </div>
                                <!--  /PanelHeading  -->

                                <div class="box-content clearfix">

                                    <div class="col-lg-12">
                                        <div id="MyWizard" class="wizard">
                                            <ul class="steps">
                                                <li data-target="#step1" class="active"><span class="badge badge-info">1</span><span class="chevron"></span>Step 1</li>
                                                <li data-target="#step2"><span class="badge">2</span><span class="chevron"></span>Step 2</li>
                                                <li data-target="#step3"><span class="badge">3</span>Step 3</li>
                                            </ul>
                                            <div class="actions" style="padding: 0px;">
                                                <button type="button" class="btn btn-prev" style="width: 100px;">&nbsp;<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Prev&nbsp;&nbsp;</button>
                                                <button type="button" class="btn btn-info btn-next" data-last="Finish" style="width: 100px;">&nbsp;&nbsp;Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;</button>
                                            </div>
                                        </div>
 <form class="form-horizontal register" action="@routes.Registration.insertCustomer()" method="post" id="insertCustomerForm">
                                        <div class="step-content">

                                            <!--  S T E P  (1)  -->
                                            <div class="step-pane active" id="step1">
                                               
                                                    <fieldset class="col-lg-12">

                                                        <div class="text-center">
                                                            <h2>
                                                                <em>
                                                                    <b>
                                                                        Εγγραφή
                                                                    </b>        
                                                                </em>
                                                            </h2>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-lg-4">
                                                                <label class="control-label">
                                                                    Επίθετο Χρήστη
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                                        <input class="form-control focused" id="UserSurname" name="UserSurname" type="text" placeholder="Surname">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4">
                                                                <label class="control-label">
                                                                    Όνομα Χρήστη
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>                                            
                                                                        <input class="form-control focused" id="UserFirstName" name="UserFirstName" type="text" placeholder="First Name">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4">
                                                                <label class="control-label">
                                                                    Ψευδώνυμο
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                                        <input class="form-control focused" id="Username" name="Username" type="text" placeholder="Username">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <br>
                                                            <div class="row">&nbsp;</div>
                                                            <br>

                                                            <div class="col-lg-4">	
                                                                <label class="control-label">
                                                                    Διεύθυνση ηλεκτρονικού ταχυδρομίου
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon">
                                                                            <strong>
                                                                                @@
                                                                            </strong>
                                                                        </span>
                                                                        <input type="email" class="form-control" name="email" id="email_1" placeholder="address@@email.com"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-4">	
                                                                <label class="control-label">
                                                                    Διεύθυνση ηλεκτρονικού ταχυδρομίου
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                &nbsp;(επανάληψη)
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon">
                                                                            <strong>
                                                                                @@
                                                                            </strong>
                                                                        </span>
                                                                        <input type="email" class="form-control" id="email_2" placeholder="confirmation@@mail.com"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-2">	
                                                                <label class="control-label">
                                                                    Κινητό Τηλέφωνο
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                                        <input type="email" class="form-control" name="mobile" id="phone_1"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-2">	
                                                                <label class="control-label">
                                                                    Σταθερό Τηλέφωνο
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                                                        <input type="email" class="form-control" name="phone" id="phone_2"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <br>
                                                            <div class="row">&nbsp;</div>
                                                            <br>

                                                            <div class="col-lg-3">	
                                                                <label class="control-label">
                                                                    Χώρα
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                                                        <input class="form-control" name="land" id="land"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-3">	
                                                                <label class="control-label">
                                                                    Πόλη
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                                        <input class="form-control" name="city" id="city"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-2">	
                                                                <label class="control-label">
                                                                    Τ.Κ.
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                                                        <input class="form-control" name="postcode" id="postcode"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-4">&nbsp;</div>

                                                            <br>
                                                            <div class="row">&nbsp;</div>
                                                            <br>

                                                            <div class="col-sm-2">	
                                                                <label class="control-label">
                                                                    Κωδικός Πρόσβασης
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                                        <input type="password" class="form-control" name="password" id="password1"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-sm-2">	
                                                                <label class="control-label">
                                                                    Επανάληψη Κωδικού
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                                        <input type="password" class="form-control" id="password2"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-sm-8">
                                                                <div class="text-right">
                                                                    <br>
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                    <em>
                                                                        Υποχρεωτικά πεδία για τη Δημιουργία Νέου Χρήστη
                                                                    </em>
                                                                </div>
                                                            </div>

                                                            <br>
                                                            <div class="row">&nbsp;</div>
                                                            <br>

                                                        </div>

                                                    </fieldset>	
                                            </div>
                                            <!--  / S T E P  (1)  -->

                                            <!--  S T E P  (2)  -->
                                            <div class="step-pane" id="step2">

                                                    <fieldset class="col-sm-12">

                                                        <div class="text-center">
                                                            <h2>
                                                                <b>
                                                                    <em>
                                                                        Προσωπικά Στοιχεία
                                                                    </em>
                                                                </b>
                                                            </h2>
                                                        </div>

                                                        <br>

                                                        <div class="row">

                                                            <div class="col-lg-6">	
                                                                <label class="control-label">
                                                                    Φύλλο
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls">
                                                                    <select onchange="test(this)" class="form-control" id="genderselect" name="gender">
                                                                        <option value="none">
                                                                            επιλέξτε φύλλο...
                                                                        </option>
                                                                        <option value="male">
                                                                            Άνδρας
                                                                        </option>
                                                                        <option value="female">
                                                                            Γυναίκα
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-6"><!-- na emfanizetai mono an fullo=gynaika -->	
                                                                <div style="display: none;" id="iffemale">
                                                                    <label class="control-label">
                                                                        Επιλέξτε ένα από τα παρακάτω
                                                                        <span style="color:red">
                                                                            &nbsp;*
                                                                        </span>
                                                                    </label>
                                                                    <div class="controls">
                                                                        <select class="form-control" id="egkumosuni" name="pregnancy">
                                                                            <option value="5">
                                                                                κανένα 
                                                                            </option>
                                                                            <option value="1">
                                                                                Εγκυμοσύνη: 1ο τρίμηνο
                                                                            </option>
                                                                            <option value="3">
                                                                                Εγκυμοσύνη: 2ο τρίμηνο
                                                                            </option>
                                                                            <option value="3">
                                                                                Εγκυμοσύνη: 3ο τρίμηνο
                                                                            </option>
                                                                            <option value="4">
                                                                                Θηλασμός
                                                                            </option>

                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>	

                                                        </div>
                                                        <br>

                                                        <div class="row">

                                                            <div class="col-lg-4">	
                                                                <label class="control-label">
                                                                    Βάρος [kg]
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <input class="form-control" id="weight" name="weight" placeholder="Συμπληρώστε το βάρος σας σε σε κιλά (kg)"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-4">	
                                                                <label class="control-label">
                                                                    Ύψος [cm]
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
                                                                    <div class="input-group col-sm-12">	
                                                                        <input class="form-control" id="height" name="height" placeholder="Συμπληρώστε το ύψος σας σε σε εκατοστά (cm)"/>
                                                                    </div>	
                                                                </div>
                                                            </div>	

                                                            <div class="col-lg-4">	
                                                                <label class="control-label">
                                                                    Ημερομηνία Γέννησης
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls row">
<div id="dateOfBirth" class="input-group col-sm-12 datefield">
    <input id="day" name="day" type="tel" maxlength="2" placeholder="DD"/> /              
    <input id="month" name="month" type="tel" maxlength="2" placeholder="MM"/>/
    <input id="year" name="year" type="tel" maxlength="4" placeholder="YYYY"/>
</div>                                                                
                                                                <!-- 
                                                                    <div class="input-group col-sm-12">	
                                                                        <input class="form-control" id="age" name="age" placeholder="Συμπληρώστε την ηλικία σας σε έτη"/>
                                                                    </div>	
                                                                	-->
                                                                </div>
                                                            </div>	

                                                        </div>

                                                        <br>

                                                        <div class="row">

                                                            <div class="col-lg-12">
                                                                <label class="control-label">
                                                                    Θα σας ενδιέφερε οι συστάσεις και επιλογές των μενού/ τροφίμων να λαμβάνουν υπόψη τους κάποια από τα παρακάτω;
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox" name="condition1" id="inlineCheckbox1" value="1">Αναιμία
                                                                </label>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox" name="condition2" id="inlineCheckbox2" value="2">Διαβήτη τύπου
                                                                </label>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox" name="condition3" id="inlineCheckbox3" value="3">Δυσκοιλιότητα
                                                                </label>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox" name="condition4" id="inlineCheckbox4" value="4">Κοιλιοκάκη
                                                                    &nbsp;
                                                                    <a href="#" class="btn btn-xs btn-info" data-toggle="popover" title="Κοιλιοκάκη" data-content="δυσανεξία στη γλουτένη">
                                                                        (i)
                                                                    </a>
                                                                </label>
                                                            </div>

                                                            <br>

                                                            <div class="col-lg-3">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox" name="condition5" id="inlineCheckbox5" value="5">Υπερουριχαιμία
                                                                    &nbsp;
                                                                    <a href="#" class="btn btn-xs btn-info" data-toggle="popover" title="Υπερουριχαιμία" data-content="αυξημένα επίπεδα ουρικού οξέος">
                                                                        (i)
                                                                    </a>
                                                                </label>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox" name="condition6" id="inlineCheckbox6" value="6">Υπέρταση
                                                                    &nbsp;
                                                                    <a href="#" class="btn btn-xs btn-info" data-toggle="popover" title="Υπέρταση" data-content="υψηλή αρτηριακή πίεση">
                                                                        (i)
                                                                    </a>
                                                                </label>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox" name="condition7" id="inlineCheckbox7" value="7">Υπερχοληστερολαιμία
                                                                    &nbsp;
                                                                    <a href="#" class="btn btn-xs btn-info" data-toggle="popover" title="Υπερχοληστερολαιμία" data-content="αυξημένα επίπεδα χοληστερόλης ή/και τριγλυκεριδίων">
                                                                        (i)
                                                                    </a>
                                                                </label>
                                                            </div>

                                                        </div>

                                                        <br>

                                                        <div class="row">

                                                            <div class="col-lg-6">
                                                                <label class="control-label" id="WorkOutIntensity">
                                                                    <i class="fa fa-heart" style="font-weight: bold;"></i>
                                                                    &nbsp;
                                                                    Επιλέξτε το επίπεδο σωματικής δραστηριότητάς σας
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <br>
                                                                <div class="controls">
                                                                    <select class="form-control" id="activitylevelselect" name="activitylevelselect">
										                                 <option value="1" title="Περιλαμβάνει καθιστική εργασία με ελάχιστη ή καμία δυνατότητα μετακίνησης μέσα στο χώρο εργασίας, και ελάχιστες ή καθόλου δραστηριότητες/κινήσεις στον ελεύθερο χρόνο (συμπεριλαμβάνονται δραστηριότητες όπως ύπνος, κάθισμα στο καναπέ ή στέκομαι για λίγη ώρα όρθιος και ελαφριές δραστηριότητες στο σπίτι)." data-rel="tooltip">
										                                     Καθιστική Ζωή 
										                                 </option>
										                                 <option value="2" title="Περιλαμβάνει καθιστική εργασία με ελάχιστη ή καμία δυνατότητα μετακίνησης μέσα στο χώρο εργασίας, και μικρές ή ελαφριές δραστηριότητες/ κινήσεις που δεν απαιτούν μεγάλη προσπάθεια στον ελεύθερο χρόνο (συμπεριλαμβάνονται δραστηριότητες όπως ζωγραφική, οδήγηση, δακτυλογράφηση, ράψιμο, σιδέρωμα, μαγείρεμα, επιτραπέζια παιχνίδια, ενασχόληση με μουσικό όργανο και ήπιο περπάτημα τουλάχιστον 3 φορές/ εβδομάδα)." data-rel="tooltip">
										                                     Ήπια σωματική δραστηριότητα
										                                 </option>
										                                 <option value="3" title="Περιλαμβάνει καθιστική εργασία με ελάχιστη ή καμία δυνατότητα μετακίνησης μέσα στο χώρο εργασίας, και μέτριας έντασης ελεύθερες δραστηριότητες στην καθημερινότητα (συμπεριλαμβάνονται δραστηριότητες όπως σχεδόν καθημερινό περπάτημα σε ευθεία πορεία 4-5km/ώρα, επαγγέλματα που περιλαμβάνουν π.χ. ηλεκτρολογικές, ξυλουργικές εργασίες, εργασία σε γκαράζ, δουλειές του σπιτιού, φροντίδα παιδιών, εξυπηρέτηση σε εστιατόρια, οικοκυρικά καθώς και δραστηριότητες στην καθημερινότητα όπως γκολφ, ιστιοπλοΐα, πινγ πονκ κα.)." data-rel="tooltip">
										                                     Mέτρια σωματική δραστηριότητα
										                                 </option>
										                                 <option value="4" title="Περιλαμβάνει καθιστική εργασία με δυνατότητα μετακίνησης μέσα στο χώρο εργασίας καθώς και όλες τις εργασίες που περιλαμβάνουν έντονη κίνηση, και ελεύθερο χρόνο που εμπεριέχει έντονη ορθοστασία, έντονες δραστηριότητες 3-5 φορές την εβδομάδα όπως περπάτημα 5,5-6,5 km/ ώρα, μεταφορά φορτίων, ποδηλασία, τένις, χορός, ή/και εβδομαδιαία ενασχόληση με αθλητικές δραστηριότητες." data-rel="tooltip">
										                                     Έντονη σωματική δραστηριότητα
										                                 </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-6">
                                                                <label class="control-label">
                                                                    <i class="fa fa-leaf" style="font-weight: bold;"></i>
                                                                    &nbsp;
                                                                    Τι διατροφή ακολουθείς αυτό το διάστημα;
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <br>
                                                                <div class="controls">
                                                                    <select class="form-control" id="dietlevelselect" name="dietlevelselect">
										                                 <option value="1">
										                                     Απώλεια Βάρους 
										                                 </option>
										                                 <option value="2">
										                                     Διατήρηση Βάρους 
										                                 </option>
										                                 <option value="3">
										                                     Αύξηση Βάρους
										                                 </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <br>

                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="control-label">
                                                                    Επιλέξτε ποια από τα παρακάτω συστατικά δεν καταναλώνετε στην καθημερινή σας διατροφή:
                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                                <div class="controls">
                                                                    <select id="notdailyselect" name="notdailyselect[]" class="form-control" multiple data-rel="chosen">
                                 <option value="1">
                                     Αυγά
                                 </option>
                                 <option value="2">
                                     Αρνί
                                 </option>
                                 <option value="3">
                                     Γάλα
                                 </option>
                                 <option value="4">
                                     Σκληρό Τυρί
                                 </option>
                                 <option value="5">
                                     Φέτα
                                 </option>
                                 <option value="6">
                                     Μοσχάρι
                                 </option>
                                 <option value="7">
                                     Όστρακα/Μαλάκια
                                 </option>
                                 <option value="8">
                                     Χοιρινό
                                 </option>
                                 <option value="9">
                                     Ψάρι
                                 </option>
                                 <option value="10">
                                     Σιτάρι
                                 </option>
                                 <option value="11">
                                     Ψωμί
                                 </option>
                                 <option value="12">
                                     Σόγια
                                 </option>
                                 <option value="13">
                                     Σπόροι
                                 </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <br><br>


                                                    </fieldset>	
                                            </div>
                                            <!-- / S T E P  (2)  -->

                                            <!-- S T E P  (3)  -->                                                            
                                            <div class="step-pane" id="step3">
                                                <fieldset class="col-sm-12">

                                                        <div class="col-lg-12">
                                                            <div class="text-center">
                                                                <h2>
                                                                    <b>
                                                                        <em>
                                                                            Διατροφικές Πληροφορίες
                                                                        </em>
                                                                    </b>
                                                                </h2>
                                                            </div>
                                                        </div>

                                                        <br>

                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="control-label">
                                                                    Κατά την επιλογή των γευμάτων σας επιθυμείτε να ενημερώνεστε για τα παρακάτω:                                                                    <span style="color:red">
                                                                        &nbsp;*
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>

                 <div class="row">
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient1" name="nutrient1" value="1" >Θερμίδες
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient2" name="nutrient2" >Υδατάνθρακες
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient3" name="nutrient3" value="3">Απλά σάκχαρα
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient4" name="nutrient4" value="4">Φυτικές ίνες
                         </label>
                     </div>
                 </div>

                 <div class="row">
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient5" name="nutrient5" value="5" >Πρωτεΐνες
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient6" name="nutrient6" value="6" >Λιπαρά
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient7" name="nutrient7" value="7">Λίπος Κορεσμένο
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient8" name="nutrient8" value="8">Λίπος Μονοακόρεστο
                         </label>
                     </div>
                 </div>

                 <div class="row">
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient9" name="nutrient9" value="9">Λίπος Πολυακόρεστο
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient10" name="nutrient10" value="10" >Χοληστερόλη
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient11" name="nutrient11" value="11">Μέταλλα/Ιχνοστοιχεία
                         </label>
                     </div>
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient2" name="nutrient2" value="12">Βιταμίνες
                         </label>
                     </div>
                 </div>

                 <div class="row">
                     <div class="col-lg-3">
                         <label class="checkbox inline">
                             <input type="checkbox" id="nutrient13" name="nutrient13" value="13">Αντιοξειδωτικά
                         </label>
                     </div>
                     <div class="col-lg-9">
                         &nbsp;
                     </div>
                 </div>            

                                                        <br>

                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <label class="checkbox inline">
                                                                    <input type="checkbox" name="trackingcheckbox" id="inlineCheckbox30" value="option30">Θέλω να καταγράφω και να παρακολουθώ καθημερινά, τα τρόφιμα, τις θερμίδες και τα θρεπτικά συστατικά που κατανάλωσα  
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <br>

                                                </fieldset>	
                                            </div>
                                            <!-- /S T E P  (3)  -->                                                            

                                        </div>

</form>
                                    </div><!--  /box-content  -->

                                </div><!--  /box  -->
                            </div><!--  /col-lg-12  -->
                        </div><!--  /row  -->
                        <!-- /panel Εγγραφή -->

                    </div>

                </div>
            </div><!--/col-->
        </div>


        <!-- - - - -  modal  - - - - - -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Ευφυές Σύστημα Προσωποποιημένων ΔΙατροφικών ΣΥΣτάσεων</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <br>
                            <h2>
                                <b>Είστε σίγουροι ότι θέλετε να ακυρώσετε την διαδικασία εγγραφής στο σύστημα;</b>
                            </h2>
                            <br>
                            <br>
                            <br>
                            <a href="http://www.disys.gr" style="text-decoration: none; color: white;">
                                <div class="btn btn-danger" style="margin-bottom: 10px; width: 150px;">
                                    <strong>
                                        Ακύρωση
                                    </strong>
                                </div>
                            </a>
                            &nbsp;
                            <a href="DISYS_Pelatis_Ruthmiseis_Logariasmou.html" style="text-decoration: none; color: white;">                                                                    
                                <div class="btn btn-primary" style="margin-bottom: 10px; width: 150px;">
                                    <strong>
                                        Εγγραφή
                                    </strong>
                                </div>
                            </a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- - - - -  / modal  - - - - - -->


        <div class="clearfix" style="background-color: #f3f3f3; border-color: #f3f3f3">&nbsp;</div>

}