@main("ΔΙΣΥΣ - Καταστηματάρχης - Οθόνη Υποδοχής", "OWNER", "owner", "OWNER_WELCOME") {
                <!-- start: Content -->
                <div id="content" class="col-lg-10 col-sm-11 ">

                    <ol class="breadcrumb">
                        <li>
                            <a href="#" style="text-decoration: none;">
                                &nbsp;ΔΙΣΥΣ
                            </a>
                        </li>
                        <li class="active">
                            Αρχική Σελίδα
                        </li>
                    </ol>


                    <!--  panel   -->
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="box">

                                <!-- PanelHeading -->
                                <div class="box-header" style="background-color: #28993c; border-color: #248936; color: white;">
                                    <h2>
                                        <i class="fa fa-home" style="color: white;"></i>
                                        <span class="break"></span>
                                        Καλώς ήρθατε
                                    </h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-down" style="color: white;"></i></a>
                                        <a href="#" class="btn-close"><i class="fa fa-times" style="color: white;"></i></a>
                                    </div>
                                </div>
                                <!-- /PanelHeading -->

                                <!-- Panel Content -->
                                <div class="box-content clearfix">

                                    <div class="form-group" style="padding-left: 15px; padding-top: 5px;">
                                        <div class="row">&nbsp;</div>
                                        <br>
                                        <div class="text-center">
                                            <label class="control-label">
                                                Καλώς ήρθατε στο ΔΙΣΥΣ!
                                            </label>
                                            <br>
                                            Το ΔΙΣΥΣ αποτελεί ένα έργο που κατά το οποίο έχει μελετηθεί, σχεδιαστεί και αναπτυχθεί ένα ευφυές συστήμα προσωποποιημένων διατροφικών συστάσεων, το οποίο λαμβάνει υπόψιν του το διατροφικό προφίλ του καταναλωτή και επιλεγμένους δείκτες υγείας (π.χ. επίπεδα σακχάρου αίματος, αρτηριακή πίεση, κ.λπ), και προτείνει "υγιή" γεύματα στον καταναλωτή τα οποία θα μπορεί να καταναλώσει σε κάποιο εστιατόριο.
                                            <br><br><br>
                                            <b>
                                                <em>
                                                    Για να συνεχίσετε, παρακαλείστε επιλέξτε μία επιλογή από το μενού που βρίσκεται αριστερά.
                                                </em>
                                            </b>
                                            <br><br>
                                        </div>
                                    </div>

                                </div>
                                <!-- Panel Content -->

                            </div>
                        </div>
                    </div>
                    <!--  /panel /  -->



                </div>
	
}