@import models.restaurant._
@import models.user._
@(restaurantForm: Form[Restaurant], restaurants: List[Restaurant], 
restaurantMap: Map[Long, Restaurant],
cousines: List[models.lists.Hcousine], 
licences: List[models.lists.Hrestaurantlicence],
restaurantcategories: List[models.lists.Hrestaurantcategory],
prices: List[models.lists.Hpricerange],
user: User)
@import helper._
@import helper.twitterBootstrap._

@main("ΔΙΣΥΣ - Καταστηματάρχης -  Το Προφίλ Μου", "OWNER", "owner", "OWNER_PROFILE") {
                <!-- start: Content -->
                <div id="content" class="col-lg-10 col-sm-11 ">

                    <ol class="breadcrumb">
                        <li>
                            <a href="#" style="text-decoration: none;">
                                &nbsp;ΔΙΣΥΣ
                            </a>
                        </li>
                        <li class="active">
                            Το προφίλ μου
                        </li>
                    </ol>



                    <!--  panel ΔιαμόρφωσηΠροσωπικώνΣτοιχείων  -->
						@profilepanels.personaldata(user)
                    <!--  /panel /ΔιαμόρφωσηΠροσωπικώνΣτοιχείων  -->



                    <!--  panel ΣτοιχείαΚαταστημάτων  -->
						@profilepanels.restaurantlist(restaurantMap, user)
                    <!--  /panel /ΣτοιχείαΚαταστημάτων  -->




                    <!--  panel ΡυθμίσειςΑποστολήςΕιδοποιήσεων  -->
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="box">

                                <!-- PanelHeading -->
                                <div class="box-header" style="background-color: #28993c; border-color: #248936; color: white;">
                                    <h2>
                                        <i class="fa fa-bell-o" style="color: white;"></i>
                                        <span class="break"></span>
                                        Ειδοποιήσεις
                                    </h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-down" style="color: white;"></i></a>
                                        <a href="#" class="btn-close"><i class="fa fa-times" style="color: white;"></i></a>
                                    </div>
                                </div>
                                <!-- /PanelHeading -->

                                <!-- Panel Content -->
                                <div class="box-content clearfix" style="display: none;">

                                    <div class="form-group" style="padding-left: 15px; padding-top: 5px;">
                                        <label class="control-label">
                                            Πώς θα θέλατε να ενημερώνεστε;
                                        </label>
                                        <div class="controls">
                                            <div class="checkbox inline">
                                                <input type="checkbox" id="eidopoihseis1" value="option1">
                                                Αποστολή e-mail
                                            </div>
                                            <div class="checkbox inline">
                                                <input type="checkbox" id="eidopoihseis2" value="option2">
                                                Αποστολή γραπτών μηνυμάτων sms
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="text-right">
                                            <div class="btn btn-primary" style="margin-bottom: 10px; width: 150px;">
                                                <strong>
                                                    Αποθήκευση
                                                </strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Panel Content -->

                            </div>
                        </div>
                    </div>
                    <!--  /panel /ΡυθμίσειςΑποστολήςΕιδοποιήσεων  -->



                </div>







<script>
function validate_restaurantForm()
{
	var valid = true;
	var err_mesg="Υπάρχουν λάθη στη φόρμα\n";
	if ( $.trim($("#RestaurantNameInput").val()) == '') {
		valid = false;
		err_mesg+="Παρακαλώ εισάγετε Όνομα Εστιατορίου\n";
	}
	if ( $.trim($("#OrganizationName").val()) == '') {
		valid = false;
		err_mesg+="Παρακαλώ εισάγετε Επωνυμία Εταιρείας\n";
	}		
	//if ( $("#selectcuisine :selected").length == 0) {
	//	valid = false;
	//	err_mesg+="Παρακαλώ εισάγετε Είδος Κουζίνας\n";
	//}	
	if ( $("#SelectStorelisence").val() == "-1") {
		valid = false;
		err_mesg+="Παρακαλώ εισάγετε Κατηγορία Καταστήματος\n";
	}		
	if ( $("#SelectStoreKind :selected").length == 0) {
		valid = false;
		err_mesg+="Παρακαλώ εισάγετε Είδος Καταστήματος\n";
	}		
	if ( $.trim($("#RestaurantCity").val()) == '') {
		valid = false;
		err_mesg+="Παρακαλώ εισάγετε Όνομα Δήμου\n";
	}			
	if ( $("#PriceSelect").val() == "-1") {
		valid = false;
		err_mesg+="Παρακαλώ εισάγετε Εύρος Τιμής\n";
	}		
	if (!valid) {
		alert(err_mesg);
	}
	return true;
}
var postBackInsert=0;
function insert(url) {
	var formData = new FormData(document.forms.namedItem("frmInsertRestaurant"));
	//new formData = new formData();
	formData.append("RestaurantNameInput", "input");
	if (!validate_restaurantForm()) {
		return false;
	}
	$.ajax({
		type: 'POST',
		url: url,
		data: jQuery("#frmInsertRestaurant").serialize(),
		//data: formData,
        cache: false,
        contentType: false,
        processData: false,		
        //enctype: 'multipart/form-data',
		//datatype: 'json',
		success: function() {
			document.getElementById("insertion_success_div").setAttribute("style", "");
			//location.reload();
			//postBackInsert = 1;
		},
		error: function() {
			alert("not ok");
		}
	});
	/*var fd = new FormData(document.getElementById("RestaurantPicture"));
	$.ajax({
		type: 'POST',
		url: "@routes.Owner.uploadImage()",
		data: {"picture" :fd},
		contentType: 'multipart/form-data',
		success: function(result) {
			alert(result);
		}
	});	*/
}
function reloadIfInserted() {
	if (postBackInsert == 1) {
		location.reload();
	}
}
</script>
                                   
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>                     
<script type="text/javascript">
var geocoder;
var map;
var marker;
var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};
function codeAddress() {
	  var address = "";
	  if ( $("#RestaurantCity").val().length > 4) {
		  address=$("#RestaurantCity").val();
	  }
	  if ( $("#RestaurantStreet").val().length > 4) {
		  address += " " + $("#RestaurantStreet").val() + " " + $("#RestaurantStreetNumber").val(); 
	  }
	  geocoder.geocode( { 'address': address}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK) {
		      map.setCenter(results[0].geometry.location);
		      marker.setMap(null);
		      marker = new google.maps.Marker({
		          map: map,
		          position: results[0].geometry.location		          
		      });
			  $("#lat").val(results[0].geometry.location.lat());
			  $("#lng").val(results[0].geometry.location.lng());		      
		    } else {
		      //alert('Geocode was not successful for the following reason: ' + status);
		    }
		  });	
}
$(function() {
	marker = new google.maps.Marker(null);
	function initialize() {
		  autocomplete = new google.maps.places.Autocomplete(
			      /** type {HTMLInputElement} */(document.getElementById('RestaurantCity')),
			      { types: ['geocode'] });
			  // When the user selects an address from the dropdown,
			  // populate the address fields in the form.
			  google.maps.event.addListener(autocomplete, 'place_changed', function() {
			    fillInAddress();
			  });		
		geocoder = new google.maps.Geocoder();
		var myLatlng = new google.maps.LatLng(
				38.00, 23.75);
		var mapOptions = {
			zoom : 8,
			center : myLatlng
		};
		function placeMarker(location) {
			marker.setMap(null);
			marker = new google.maps.Marker({
				position : location,
				map : map
			});
			$("#lat").val(location.lat());
			$("#lng").val(location.lng());
			
			//reverse geo
			var lat = parseFloat(location.lat());
			var lng = parseFloat(location.lng());	
			var latlng = new google.maps.LatLng(lat, lng);
			geocoder.geocode({'latLng': latlng}, function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					//alert(JSON.stringify(results[0]["address_components"][0]["long_name"]));
					//console.log(JSON.stringify(results[0]));
					for (var i = 0; i < results[0]["address_components"].length; i++) {
						//alert(JSON.stringify(results[0]["address_components"][0]["long_name"]));
						if (results[0]["address_components"][i]["types"][0] == "street_number") {
							$("#RestaurantStreetNumber").val(results[0]["address_components"][i]["long_name"]);
						}
						if (results[0]["address_components"][i]["types"][0] == "route") {
							//alert(results[0]["address_components"][i]["long_name"]);
							$("#RestaurantStreet").val(results[0]["address_components"][i]["long_name"]);
						}
						if (results[0]["address_components"][i]["types"][0] == "locality") {
							$("#RestaurantCity").val(results[0]["address_components"][i]["long_name"]);
						}
						if (results[0]["address_components"][i]["types"][0] == "postal_code") {
							$("#RestaurantPostcode").val(results[0]["address_components"][i]["long_name"]);
						}							
					}
				}
			});
		}
		map = new google.maps.Map(document
				.getElementById("map-canvas"),
				mapOptions);
		google.maps.event.addListener(map, 'click',
				function(event) {
					placeMarker(event.latLng);
				});
	}
	google.maps.event.addDomListener(window,
			'load', initialize);
	$('#myModal').on('shown.bs.modal', function () {
		var currentCenter = map.getCenter(); 
	    google.maps.event.trigger(map, "resize");
	    map.setCenter(currentCenter);
	});	
	$("#picture").change(function(){
		readURL(this);
	});
	$("#RestaurantImage").hide();
	//$(window).trigger('resize');
});


function fillInAddress() {
	//alert("fillInAddress");
	// Get the place details from the autocomplete object.
	var place = autocomplete.getPlace();
	for (var i = 0; i < place["address_components"].length; i++) {
		//alert(JSON.stringify(results[0]["address_components"][0]["long_name"]));
		if (place["address_components"][i]["types"][0] == "street_number") {
			$("#RestaurantStreetNumber").val(place["address_components"][i]["long_name"]);
		}
		if (place["address_components"][i]["types"][0] == "route") {
			//alert(results[0]["address_components"][i]["long_name"]);
			$("#RestaurantStreet").val(place["address_components"][i]["long_name"]);
		}
		if (place["address_components"][i]["types"][0] == "locality") {
			$("#RestaurantCity").val(place["address_components"][i]["long_name"]);
		}
		if (place["address_components"][i]["types"][0] == "postal_code") {
			$("#RestaurantPostcode").val(place["address_components"][i]["long_name"]);
		}	
		codeAddress();
	}	
	console.log(JSON.stringify(place));
}

function geolocate() {
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			var geolocation = new google.maps.LatLng(
					position.coords.latitude, position.coords.longitude);
			var circle = new google.maps.Circle({
				center : geolocation,
				radius : position.coords.accuracy
			});
			autocomplete.setBounds(circle.getBounds());
		});
	}
}
	//function placeMarker() {
	//if ($("#RestaurantCity").val().length < 4) {
	//	return;
	//}
	/*var geocoder = new google.maps.Geocoder();
	 geocoder.geocode( { 'address': $("#RestaurantCity").val()}, function(results, status) {
	    if (status == google.maps.GeocoderStatus.OK) {
			var myLatlng = new google.maps.LatLng(
					38.00, 23.75);
			var mapOptions = {
				zoom : 8,
				center : myLatlng
			};	    	
		var	map = new google.maps.Map(document
					.getElementById("map-canvas"),
					mapOptions);	    	
	      map.setCenter(results[0].geometry.location);
	      var marker = new google.maps.Marker({
	          map: map,
	          position: results[0].geometry.location
	      });
	    } else {
	      alert('Geocode was not successful for the following reason: ' + status);
	    }
	  });	*/
	//}
</script>


<script>
function insertRestaurant() {
	var errors = 0;
	var err_msg = "";
	$("#frmInsertRestaurant input[type=text]").each(function(){
		if ($.trim(this.value) == "") {
			if (this.id == "RestaurantInfoInsert") {
				
			} else if(this.id=="RestaurantFax") {					
			
			} else if (this.id == "PersonInCharge"){
				
			} else if(this.id=="OrganizationWebPage") {
			
			} else if(this.id=="RestaurantCellPhone") {
				
			} else if (this.id==='undefined' || this.id==''||this.id===null) {
				
			}else {	
				//err_msg += this.placeholder + "\r\n";
				errors++;
			}
		}
	});

	if ($("#SelectStorelisence").val() == "-1") {
		errors++;
	}
	if ($("#SelectStoreKind :selected").length == 0) {
		errors++;
	}		
	if ($("#PriceSelect").val() == "-1") {
		errors;
	}
	if (errors > 0) {
		alert("Βρέθηκαν λάθη στη φόρμα. Παρακαλώ συμπληρώστε όλα τα απαραίτητα πεδία:\r\n");
	} else {
		var formData = new FormData(document.forms.namedItem("frmInsertRestaurant"));
		$('#SelectStoreKind :selected').each(function(i, selected){ 
			  //foo[i] = $(selected).text(); 
			  formData.append("storekind"+i,$(selected).val());
		});		
		$('#selectcuisine :selected').each(function(i, selected){ 
			  //foo[i] = $(selected).text(); 
			  formData.append("cuisine"+i,$(selected).val());
		});			
		//var formData = new FormData();
		//formData.append("lat", "input");
		$.ajax({
			type: 'POST',
			url: "@routes.Owner.ownerInsertRestaurant()",
			//data: jQuery("#frmInsertRestaurant").serialize(),
			data: formData,
	        cache: false,
	        contentType: false,
	        processData: false,		
	        //enctype: 'multipart/form-data',
			//datatype: 'json',
			success: function(data)
			{
			 bootbox.alert("Η προσθήκη Εστιατορίου ήταν επιτυχής"); 
			 $("#myModal").modal('hide');
			 //location.reload();
			},
			error: function(response) {
			 bootbox.alert("Υπήρξε σφάλμα κατά την ανανέωση στοιχείων. Ο εξυπηρετητής απάντησε με: " + response);
			}
		});		
	    /*$.ajax({
	           type: "POST",
	           url: "@routes.Owner.ownerInsertRestaurant()",
	           data: $("#frmInsertRestaurant").serialize(),
	           success: function(data)
	           {
	        	   bootbox.alert("Η προσθήκη Εστιατορίου ήταν επιτυχής"); 
	        	   $("#myModal").modal('hide');
	        	   location.reload();
	           },
	           error: function(response) {
	        	   bootbox.alert("Υπήρξε σφάλμα κατά την ανανέωση στοιχείων. Ο εξυπηρετητής απάντησε με: " + response);
	           }
	    });*/
	}
}
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#RestaurantImage').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        $("#RestaurantImage").show();
    }
}
</script>
        <!--   M O D A L   -->    
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
<form  method="POST" id="frmInsertRestaurant" name="frmInsertRestaurant" class="form-horizontal login" enctype="multipart/form-data">             
<input type="hidden" name="lat" id="lat">
<input type="hidden" name="lng" id="lng">         
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Προσθήκη Καταστήματος</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-lg-7">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">
                                            Όνομα Καταστήματος
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-lg-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-cutlery"></i>
                                                </span>
                                                <input class="form-control focused" name = "RestaurantNameInput" id="RestaurantNameInput" type="text" placeholder="Όνομα Καταστήματος">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label">
                                            Επωνυμία Εταιρείας
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-building-o"></i>
                                                </span>
                                                <input class="form-control focused" name="OrganizationName" id="OrganizationName" type="text" placeholder="Επωνυμία Εταιρείας">
                                            </div>
                                        </div>                                                                        
                                    </div>

                                </div>

                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <label class="control-label">
                                            Κατηγορία Καταστήματος Βάσει Άδειας Λειτουργίας
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls">
                                            <select id="SelectStorelisence" name="SelectStorelisence" class="form-control">
                                                <option value="-1">

                                                </option>
@for(licence <- licences) {
<option value="@licence.getId()">
	@licence.getDescription()
</option>
}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <label class="control-label" id="RestaurantPrice">
                                            Εύρος Τιμής ανά άτομο
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls">
                                            <select id="PriceSelect" name="PriceSelect" class="form-control">
                                                <option value="-1"></option>
@for(price <- prices) {
<option value="@price.getId()">
	@price.getDescription()
</option>
}
                                            </select>
                                        </div>
                                    </div>                                                                    

                                </div>

                                <div class="row">

                                    <div class="col-lg-6">
                                        <label class="control-label">
                                            Είδος Καταστήματος βάσει εμπορικού προφίλ
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls">
                                            <select id="SelectStoreKind" name="SelectStoreKind[]" class="form-control" multiple data-rel="chosen">
@for(restaurantcategory <- restaurantcategories) {
<option value="@restaurantcategory.getId()">
	@restaurantcategory.getDescription()
</option>
}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label" id="RestaurantCuisine">
                                            Ειδος Κουζίνας
                                        </label>
                                        <div class="controls">
                                            <select id="selectcuisine" name="selectcuisine[]" class="form-control" multiple data-rel="chosen">
@for(cousine <- cousines) {
<option value="@cousine.getId()">
	@cousine.getDescription()
</option>
}
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <br>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="control-label">
                                            Επιπλέον Πληροφορίες

                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-lg-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-info"></i>
                                                </span>
                                                <input class="form-control focused" name="RestaurantInfoInsert" id="RestaurantInfoInsert" type="text" placeholder="Αναφέρετε εάν το κατάστημά σας βρίσκεται σε εμπορικό κέντρο, πλοίο κτλ.">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <div class="col-lg-7">
                                        <label class="control-label">
                                            Δήμος
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-globe"></i>
                                                </span>
                                                <input class="form-control focused" name="RestaurantCity" id="RestaurantCity" type="text" placeholder="City" onchange="codeAddress()" onfocus="geolocate()" >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-5">
                                        <label class="control-label">
                                            T.K.
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>                                            
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-location-arrow"></i>
                                                </span>
                                                <input class="form-control focused" name="RestaurantPostcode" id="RestaurantPostcode" type="text" placeholder="Postcode">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="row">&nbsp;</div>-->                                                        

                                <div class="row">
                                    <div class="col-lg-7">
                                        <label class="control-label">
                                            Οδός
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-road"></i>
                                                </span>                                            
                                                <input class="form-control focused" name="RestaurantStreet" id="RestaurantStreet" type="text" placeholder="Street" onchange="codeAddress()">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-5">
                                        <label class="control-label">
                                            Αριθμός
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-map-marker"></i>
                                                </span>
                                                <input class="form-control focused" name="RestaurantStreetNumber" id="RestaurantStreetNumber" type="text" placeholder="Str Number" onchange="codeAddress()">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <div class="col-lg-7">
                                        <label class="control-label">
                                            Ονοματεπώνυμο Υπεύθυνου Καταστήματος
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>                                            
                                                <input class="form-control focused" name="PersonInCharge" id="PersonInCharge" type="text" placeholder="Person In Charge">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">&nbsp;</div>                                                        

                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="control-label">
                                            Τηλέφωνο Σταθερό
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </span>
                                                <input class="form-control focused" name="RestaurantPhone" id="RestaurantPhone" type="text" placeholder="Phone">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <label class="control-label">
                                            Τηλέφωνο Κινητό
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-mobile-phone"></i>
                                                </span>
                                                <input class="form-control focused" name="RestaurantCellPhone" id="RestaurantCellPhone" type="text" placeholder="Phone">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <label class="control-label">
                                            Fax
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-phone-square"></i>
                                                </span>
                                                <input class="form-control focused" name="RestaurantFax" id="RestaurantFax" type="text" placeholder="Fax">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="row">&nbsp;</div>-->                                                        

                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="control-label">
                                            e-mail
                                            <span style="color:red">
                                                &nbsp;*
                                            </span>
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope-o"></i>
                                                </span>
                                                <input class="form-control focused" name="RestaurantEmail" id="RestaurantEmail" type="text" placeholder="e-mail">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="control-label">
                                            Site Εταιρείας
                                        </label>
                                        <div class="controls row">
                                            <div class="input-group col-sm-12">	
                                                <span class="input-group-addon">
                                                    <i class="fa fa-globe"></i>
                                                </span>
                                                <input class="form-control focused" name="OrganizationWebPage" id="OrganizationWebPage" type="text" placeholder="Web Page">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <br>
                                        <label class="control-label">
                                            Μεταφόρτωση Λογότυπου
                                        </label>
                                        <div class="controls" style="width: 350px;">
                                            <div id="dropzone">
                                                <div class="fallback">
                                                    <input id="picture" name="RestaurantPicture" type="file" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">
                                        <div class="smallstat box" style="margin-bottom: 0px;">
                                            <div class="text-center">
                                                <img  id="RestaurantImage" src="#" alt="" style="max-height: 171px; max-width: 250px">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div><!-- /col-lg-7 -->
                            
<div id="map-canvas" style="width:350px;height:450px"></div>                            


                            <div class="row">&nbsp;</div>
                            <div class="row">&nbsp;</div>

                            <!--
                            <div class="col-lg-12">
                                <div class="text-right">
                                    <div class="btn btn-primary" style="margin-bottom: 10px;">
                                        <strong>
                                            Προσθήκη Καταστήματος
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            -->

                            <p></p>

                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="alert alert-success" id="insertion_success_div" style="display:none">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <i class="fa fa-thumbs-up"></i>
                                        &nbsp;
                                        <strong>
                                            Συγχαρητήρια!
                                        </strong>
                                        Το νέο σας Κατάστημα προστέθηκε επιτυχώς.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="alert alert-danger" style="display:none">
                                        <button type="button" class="close" data-dismiss="alert" style="display:none">×</button>
                                        <i class="fa fa-exclamation-triangle"></i>
                                        &nbsp;
                                        <strong>
                                            Προσοχή!
                                        </strong>
                                        Πρέπει να συμπληρώσετε όλα τα υποχρεωτικά πεδία.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div class="alert alert-dismissable alert-danger" style="font-family:arial;display:none">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <i class="fa fa-exclamation-triangle"></i>
                                        &nbsp;
                                        <strong>
                                            Συγγνώμη!
                                        </strong>
                                        <a class="alert-link" style="text-decoration: none;">
                                            Τα στοιχεία που συμπληρώσατε είναι εσφαλμένα.
                                        </a>
                                        <em>
                                            Παρακαλούμε εισάγετε ξανά τα απαιτούμενα στοιχεία!
                                        </em>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" style="width: 180px;" onclick="reloadIfInsertd()"><strong>Ακύρωση</strong></button>
                        <button type="button" class="btn btn-primary" style="width: 180px;" onclick="insertRestaurant()"><strong>Προσθήκη</strong></button>
                    </div>
                </div><!-- /.modal-content -->
</form>
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--   M O D A L   -->
         
		@profilepanels.editrestaurantmodal(cousines, licences, restaurantcategories, prices)
}