@main("ΔΙΣΥΣ - Καταστηματάρχης - testimage", "OWNER", "owner", "testimage") {

<script>
$(function() {
	$.ajax({
		type: 'POST',
		url: "@routes.Owner.getCheckDishImage()",
		data: {"dishid": 76},
		success: function(result) {	
			$("#img").attr("src", "data:image/png;base64,"+result["picture"]);
		}
	});
});

</script>


<div id="content" class="col-lg-10 col-sm-11 ">

    <ol class="breadcrumb">
        <li>
            <a href="#" style="text-decoration: none;">
                &nbsp;ΔΙΣΥΣ
            </a>
        </li>
        <li>
            Συνταγές
        </li>
        <li class="active">
            Νέο Combo
        </li>
    </ol>


    <!--  panel   -->
    <div class="row">
    <img id="img">
    </div>
</div>
}