    @()
    <!-- footer -->
    <footer style="font-family: arial; height: 63px;">
        <p>
            <span style="text-align:left;float:left">
                <a href="http://www.disys.gr" style="text-decoration: none; color: white;" target="_blank">
                    <img src="@routes.Assets.at("DISYS FOOTER IMG.png")" alt="" height="40">
                </a>
            </span>
            <span class="hidden-phone" style="text-align: right; float: right; margin-top: 12px;">
                <a href="http://www.disys.gr" style="text-decoration: none; color: white;" target="_blank">
					Ευφυές Σύστημα Προσωποποιημένων ΔΙατροφικών ΣΥΣτάσεων     -     ΔΙΣΥΣ ©   2014 
                </a>
            </span>
        </p>
    </footer>
    <!-- /footer -->
