@main("customer", "CUSTOMER", "customer", "CUSTOMER_APPLICATION") {
                <!-- start: Content -->
                <div id="content" class="col-lg-10 col-sm-11 ">

                    <ol class="breadcrumb">
                        <li>
                            <a href="#" style="text-decoration: none;">
                                &nbsp;ΔΙΣΥΣ
                            </a>
                        </li>
                        <li class="active">
                            Εφαρμογή
                        </li>
                    </ol>

                    <!--  panel Λειτουργική Αξιολόγηση  -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box">

                                <!-- PanelHeading -->
                                <div class="box-header" style="background-color: #28993c; border-color: #248936; color: white;">
                                    <h2>
                                        <i class="fa fa-star-half-o" style="color: white;"></i>
                                        <span class="break"></span>
                                        <strong>Λειτουργική</strong> Αξιολόγηση Εφαρμογής
                                    </h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-down" style="color: white;"></i></a>
                                        <a href="#" class="btn-close"><i class="fa fa-times" style="color: white;"></i></a>
                                    </div>
                                </div>
                                <!-- /PanelHeading -->


                                <!-- Panel Content -->
                                <div class="box-content clearfix" style="display: none;">

                                    <div class="row">&nbsp;</div>

                                    <div class="col-lg-12">
                                        <strong>
                                            Πόσο χρήσιμη σας φάνηκε η εφαρμογή;
                                            <br><br>
                                        </strong>
                                        <span class="rating">
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </span>
                                        <br>
                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Κριτική Εφαρμογής
                                            </label>
                                            <div class="controls">
                                                <textarea rows="3" style="min-width: 75%; max-width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 63px;" placeholder="Παρακαλούμε γράψτε την κριτική σας αναφορικά με την εφαρμογή από λειτουργικής απόψεως..."></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="text-right">
                                            <div class="btn btn-primary" style="margin-bottom: 10px; width: 150px;">
                                                <strong>
                                                    Αξιολόγηση
                                                </strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /Panel Content -->

                            </div>
                        </div>
                    </div>
                    <!--  /panel /Λειτουργική Αξιολόγηση  -->


                    <!--  panel Ποιοτική Αξιολόγηση  -->
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="box">

                                <!-- PanelHeading -->
                                <div class="box-header" style="background-color: #28993c; border-color: #248936; color: white;">
                                    <h2>
                                        <i class="fa fa-star-half-o" style="color: white;"></i>
                                        <span class="break"></span>
                                        <strong>Ποιοτική</strong> Αξιολόγηση Εφαρμογής
                                    </h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-down" style="color: white;"></i></a>
                                        <a href="#" class="btn-close"><i class="fa fa-times" style="color: white;"></i></a>
                                    </div>
                                </div>
                                <!-- /PanelHeading -->

                                <!-- Panel Content -->
                                <div class="box-content clearfix" style="display: none;">

                                    <div class="row">&nbsp;</div>

                                    <div class="col-lg-12">
                                        <strong>
                                            Πόσο σας άρεσε το γεύμα που σας προτάθηκε;
                                            <br><br>
                                        </strong>
                                        <span class="rating">
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </span>
                                        <br>
                                    </div>

                                    <div class="row">&nbsp;</div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Κριτική Εφαρμογής
                                            </label>
                                            <div class="controls">
                                                <textarea rows="3" style="min-width: 75%; max-width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 63px;" placeholder="Παρακαλούμε γράψτε την κριτική σας αναφορικά με την πρόταση της εφαρμογής από ποιοτικής απόψεως..."></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="text-right">
                                            <div class="btn btn-primary" style="margin-bottom: 10px; width: 150px;">
                                                <strong>
                                                    Αξιολόγηση
                                                </strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /Panel Content -->

                            </div>
                        </div>
                    </div>
                    <!--  /panel /Ποιοτική Αξιολόγηση  -->


                </div>
                <!-- end: Content -->

}