@main("customer", "CUSTOMER", "customer", "CUSTOMER_SAVEMEAL") {
                <div id="content" class="col-lg-10 col-sm-11 ">

                    <ol class="breadcrumb">
                        <li>
                            <a href="#" style="text-decoration: none;">
                                &nbsp;ΔΙΣΥΣ
                            </a>
                        </li>
                        <li class="active">
                            Αποθήκευση Στοιχείων Γεύματος Εκτός Εστιατορίου
                        </li>
                    </ol>

                    <!--  panel Αποστολή Ειδοποιήσεων  -->
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="box">

                                <!-- PanelHeading -->
                                <div class="box-header" style="background-color: #28993c; border-color: #248936; color: white;">
                                    <h2>
                                        <i class="fa fa-indent" style="color: white;"></i>
                                        <span class="break"></span>
                                        Αποθήκευση Στοιχείων Γεύματος Εκτός Εστιατορίου
                                    </h2>
                                    <div class="box-icon">
                                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up" style="color: white;"></i></a>
                                        <a href="#" class="btn-close"><i class="fa fa-times" style="color: white;"></i></a>
                                    </div>
                                </div>
                                <!-- /PanelHeading -->

                                <!-- Panel Content -->
                                <div class="box-content clearfix">



                                    <!-- - - - -->



                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <div class="alert alert-success">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                <i class="fa fa-thumbs-up"></i>
                                                &nbsp;
                                                <strong>

                                                </strong>
                                                Η εισαγωγή των Στοιχείων Γεύματος πραγματοποιήθηκε με επιτυχία.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                <i class="fa fa-exclamation-triangle"></i>
                                                &nbsp;
                                                <strong>
                                                    Προσοχή!
                                                </strong>
                                                Πρέπει να συμπληρώσετε όλα τα υποχρεωτικά πεδία.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert">×</button>
                                                <i class="fa fa-exclamation-triangle"></i>
                                                &nbsp;
                                                <strong>
                                                    Προσοχή!
                                                </strong>
                                                Οι Πληροφορίες που εισάγατε είναι λανθασμένες.
                                                <br><br>
                                                <em>
                                                    Παρακαλείστε εισάγετε εκ νέου τα Στοιχεία Γεύματος.
                                                </em>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="alert alert-info">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <i class="fa fa-info-circle"></i>
                                            &nbsp;
                                            <strong>
                                                Πληροφορίες
                                            </strong>
                                            <br>
                                            <em>
                                                Για τα γεύμα που καταχωρήσατε εκτός εστιατορίου με όνομα ΦΑΓΗΤΟ υπολογίστηκαν τα παρακάτων:
                                            </em>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col-lg-2" style="padding-left: 12px;">
                                                    <div class="well" style="padding: 5px;  margin-bottom: 10px;">
                                                        GDA:
                                                        156
                                                    </div>
                                                </div>
                                                <div class="col-lg-2" style="padding-left: 0px;">
                                                    <div class="well" style="padding: 5px;  margin-bottom: 10px;">
                                                        DRI:
                                                        321
                                                    </div>
                                                </div>
                                                <div class="col-lg-2" style="padding-left: 0px;">
                                                    <div class="well" style="padding: 5px;  margin-bottom: 10px;">
                                                        Θερμίδες:
                                                        754
                                                    </div>
                                                </div>
                                                <div class="col-lg-2" style="padding-left: 0px;">
                                                    <div class="well" style="padding: 5px;  margin-bottom: 10px;">
                                                        Πρωτεϊνες:
                                                        456
                                                    </div>
                                                </div>
                                                <div class="col-lg-2" style="padding-left: 0px;">
                                                    <div class="well" style="padding: 5px;  margin-bottom: 10px;">
                                                        Υδατάνθρακες:
                                                        654
                                                    </div>
                                                </div>
                                                <div class="col-lg-2" style="padding-left: 0px;">
                                                    <div class="well" style="padding: 5px;  margin-bottom: 10px;">
                                                        Λιπαρά:
                                                        321
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                Χαρακτηρισμος Πιάτου:

                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="text-right">
                                            <div class="btn btn-primary" style="margin-bottom: 10px; width: 150px;">
                                                <strong>
                                                    Αποθήκευση
                                                </strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Panel Content -->

                            </div>
                        </div>
                    </div>
                    <!-- /panel /Αποστολή Ειδοποιήσεων -->


                </div><!-- /end: Content -->

}